body {
    background-color: #717C89;
    font-family: "Minecraft";
    text-align: center;
    padding-top: 50px;
}
.question {
    background-color: #8AA2A9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 100px;
    width: 300px;
    box-shadow: 2px 2px 10px rgb(0,0,0,.5);
}
button {
    padding: 10px 20px;
    background-color: #90BAAD;
    color: #A1E5AB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #8AA2A9;
}