body {
    background-color: #EFBCD5;
    font-family: "Quintessential", serif;
}

h1 {
    color: #be97c6;
    text-align: center;
    font-size: 80px;
    
}

p {
    color: #8661c1;
    font-size: 70px;
    line-height: 1;
    text-align: center;
}